
div{

width:200px; 
color:black;
border:solid orange;
padding-top:0px;
padding-right:8px;
padding-bottom:6px;
padding-left:8px;
margin:10px;

}


/* Agrega aqui tu CSS *//* Agrega aqui tu CSS *//* Agrega aqui tu CSS */